@model IEnumerable<ProjectTaa.Models.Log>

@{
    ViewData["Title"] = "Index";
}

<h2>Jobs</h2>



<form class="navbar-form navbar-left" asp-controller="Logs" asp-action="Index">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="SearchString" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table class="table" style="background-color:antiquewhite">
    <thead>
        <tr>
            <th>
                S/N
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportanceLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    @{var a = 1;}
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(a++)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.CallerName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportanceLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ID" class="btn">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p style="margin:auto">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>